 <div class="header">
            <div id="header-name">
                <h2>&aleph;</h2>
                <h4>B2B2C</h4>
            </div>
            <div id="header-links">
                <a href="/main">Home</a>
                <a href="/main/order">order</a>
                <a href="/logout">log out</a>
            </div>
            <div id="bar">
                 <h1>&efr;</h1> 
            </div>

 </div>