
<style>
  .order-img{
    height: 100%;
    width: 100%;
  }
  .img-field{
    height: 60%;
    width: 60%;
    margin: auto;
    border-radius: 10px;
  }

  .form-field{
    margin-bottom: 3%;
  }

  .btn-field{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .btn-field button{
    font-size: x-large;
    height: 60px ;
  }
</style>

<% layout("layouts/boilerplateCode")%>

    <div class="add-list-form">

         <h1 id="form-heading">Order Item</h1>
        <form action="/buyItem/<%=orderedItem._id%>" class="form-list" method="post">
            
            <div class="form-field img-field">
                <img class="order-img" src="/assets/<%=orderedItem.image%>" alt="">
            </div>

            <div class="form-field">
                <label for="quantity">quantity</label>
                <input type="number" name="quantity" placeholder="  enter quantity" min="1" id="quantity" required>
            </div>

            <div class="form-field">
                <label for="vender">vender name</label>
                <input type="text" name="vender" placeholder="  enter vender's name" id="vender" required>
            </div>

            <div class="form-field">
                <label for="venderid">vender id</label>
                <input type="text" name="venderid" placeholder="  enter vender's Id" id="venderid" required>
            </div>
            
            <div class="form-field btn-field">
                <button class="btn order-btn">Order now!</button>
            </div>
        </form>


    </div>
